table, tr, td{
border: 1px solid white;
}
td{
    text-align: center;
    color: white;
}
h1{
    color: white;
    font-weight: bold;
}
h3{
    color: white;
    font-weight: bold;
}
.submit{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
body{
    background-image: url(https://wallpapercave.com/wp/wp5852521.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: white;
}
.dropdown {
  color: white;
}