table, tr, td{
border: 1px solid black;
}
td{
    text-align: center;
}
h1{
    color: black;
}
h3{
    color: black;
    font-weight: bold;
}
.submit{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
body{
    background-color: rgb(162, 247, 247);
}